# ==========================================
# Application
# ==========================================
APP_NAME=Amanara AI Chatbot
APP_ENV=development
DEBUG=True

# ==========================================
# Gemini
# ==========================================
GOOGLE_API_KEY=AQ.Ab8RN6K1qgmtTJEA5kVkbJkpLnJFycoe6gtvvEgTM64v7N5LMA

# ==========================================
# Qdrant
# ==========================================
QDRANT_URL=https://612a7384-244c-4ebe-bfff-636a9079c14b.australia-southeast1-0.gcp.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ZjUxOGFhMWYtMTNkYi00Y2U1LThhYzUtZWEwNTVjMDY5NDU0In0.JKl6b0ovjuFPYQ2RwPPKn-ss6hLE_kDkPNzZlMSKn1I
QDRANT_COLLECTION=amanara_docs

# ==========================================
# Models
# ==========================================
LLM_MODEL=gemini-3.5-flash
EMBEDDING_MODEL=gemini-embedding-2